@media (max-width: 1024px)
    .container
        max-width: 940px
        padding: 0 20px 
    .header
        overflow: visible
        .header__content
            .header__burger
                display: flex
            .header__menu
                display: none
            .header__menu.active
                display: flex
                flex-direction: column
                gap: 20px
                border-radius: 20px
                position: absolute
                padding: 20px
                top: 70px
                right: 0px
                visibility: visible
                background-color: #fff
                z-index: 1000
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
                a
                    &:hover
                        border: none
    .category
        .category__content
            .category__img
                background: url('../img/main/main_1024.jpg') no-repeat center / cover
    .main
        .main__content
            grid-template-columns: 1fr
            align-content: center
            .main__sidebar
                grid-column: 1 / -1
                margin-bottom: 80px
                grid-row: 8 / 8
                display: flex
                flex-direction: column
                .main__news ul
                    display: flex
                    flex-direction: row
                    align-items: start
                    li
                        display: -webkit-box
                        -webkit-box-orient: vertical
                        -webkit-line-clamp: 2 
                        max-height: 3rem 
                        overflow: hidden 
                        margin-bottom: 10px
                        text-overflow: ellipsis
                .main__subscription
                    padding: 50px 148px
    .contacts
        .contacts__content
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            .contacts__form
                grid-column: 1
            .contacts__form
                grid-column: 2
                padding: 20px
@media (max-width: 685px)
    .container
        max-width: 600px
    .contacts
        padding: 100px 0 100px 0
        .contacts__content
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            grid-template-rows: repeat(2, 1fr)
            .contacts__descr
                grid-column: 1 span
                grid-row: 1
            .contacts__form
                width: 100%
                grid-column: 1 span
                grid-row: 2
                input
                    max-width: 400px
    .main
        .main__content
            grid-template-columns: 1fr
            align-content: center
            .main__card
                display: flex
                flex-direction: column
                align-items: center
                .main__show
                    display: flex
                    width: 50%
                    justify-content: center
                .main__item
                    transition: all .4s ease
                    &:nth-child(n+5)
                        display: none
                        &.show
                            display: grid
            .main__sidebar
                .main__subscription
                    padding: 10px 30px
@media (max-width: 460px)
    .header
        .header__content
            padding-top: 10px
    .main
        background-color: #f9f9f9
        .main__content
            .main__sidebar
                .main__subscription
                    padding: 30px 30px
                .main__news ul
                    display: flex
                    flex-direction: column
    .footer
        .footer__content
            padding-top: 20px
            .footer__menu
                display: flex
                gap: 3vh
            .footer__descr
                h3
                    font-size: 12px
    .contacts
        padding: 20px
        .contacts__content

            